In [1]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def speak(self):
        pass
    
class Dog(Animal):
    def speak(self):
        return "Woof!"
    
class Cat(Animal):
    def speak(self):
        return "Meow!"

# Using Polymorphism
dog = Dog()
cat = Cat()

for x in (dog, cat):
    print(x.speak())

Woof!
Meow!

In [2]:
from abc import ABC, abstractmethod

class Shape(ABC):  # Abstract base class
    @abstractmethod
    def area(self):
        pass

    @abstractmethod
    def perimeter(self):
        pass

class Circle(Shape):  # Concrete class implementing the abstract methods
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * (self.radius ** 2)

    def perimeter(self):
        return 2 * 3.14 * self.radius

# Using Abstraction
circle = Circle(5)
print(f"Area of circle: {circle.area()}")
print(f"Perimeter of circle: {circle.perimeter()}")

Area of circle: 78.5
Perimeter of circle: 31.400000000000002

In [3]:
# Create a Class
# Python is an object oriented programming language.
# A Class is like a "blueprint" for creating objects.

class MyClass:
    # Class body
    x = 5

# Create an Object
# Once we have a class, we can use it to create objects.
# Object is an instance of a class.

ob1 = MyClass()
print(ob1.x)

5

In [4]:
# The Example of Class
# Class will have properties and methods.
# Properties are like variables attached to the class.
# Methods are like functions attached to the class.

class Person:
    def __init__(self, name, age): # The __init__() function is called automatically every time the class is being used to create a new object.
        self.name = name # Property
        self.age = age # Property
        print("Enter init")
    
    def speak(self): # Method
        print("Hello my name is " + self.name)
    
person = Person("John", 36)
person.speak()

Enter init
Hello my name is John

In [7]:
class Vehicle:
    def __init__(self, brand, speed):
        self.brand = brand
        self.speed = speed

    def show_info(self):
        print(f"Brand: {self.brand}, Speed: {self.speed} km/h")

class Car(Vehicle):  # Inherits all properties and methods from the Vehicle class
    def __init__(self, brand, speed, fuel_type): 
        super().__init__(brand, speed)  # Calls the parent class constructor
        self.fuel_type = fuel_type

    def show_car_info(self):
        self.show_info()  # Inherited method
        print(f"Fuel Type: {self.fuel_type}")

# normal class
my_vehicle = Vehicle("Toyota", 180)
my_vehicle.show_info()

# Using Inheritance
my_car = Car("Honda", 180, "Petrol")
my_car.show_car_info()

Brand: Toyota, Speed: 180 km/h
Brand: Honda, Speed: 180 km/h
Fuel Type: Petrol

In [10]:
from abc import ABC, abstractmethod

class Shape(ABC):  # Abstract base class
    @abstractmethod
    def area(self):
        pass

    @abstractmethod
    def perimeter(self):
        pass

class Circle(Shape):  # Concrete class implementing the abstract methods
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * (self.radius ** 2)

    def perimeter(self):
        return 2 * 3.14 * self.radius

class Square(Shape): #workshop 10:06 T
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return 2 * (self.width + self.height)
# Using Abstraction
circle = Circle(5)
print(f"Area of circle: {circle.area()}")
print(f"Perimeter of circle: {circle.perimeter()}")

Square = Square(5, 5)
print(f"Area of Square: {Square.area()}")
print(f"Perimeter of Square: {Square.perimeter()}")

Area of circle: 78.5
Perimeter of circle: 31.400000000000002
Area of Square: 25
Perimeter of Square: 20

In [12]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass

class Dog:
    def sound(self):
        return "Woof!"

class Cat:
    def sound(self):
        return "Meow!"

def make_sound(animal):
    print(animal.sound())

dog = Dog()
cat = Cat()

make_sound(dog)  # Output: Woof!
make_sound(cat)  # Output: Meow!

Woof!
Meow!

Basic Pandas Data Structure

In [13]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Data type Dict

In [14]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s =pd.Series(d)
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
# Creating a .Series() has Index and name parameters that can be set.
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'], name='example series')
s

a    1
b    2
c    3
d    4
e    5
Name: example series, dtype: int64

In [16]:
df1= pd.DataFrame()
print(df1)

df1['name'] = ['John', 'Paul', 'George', 'Ringo']
df1['grade'] = [90, 80, 70, 60]
df1

Empty DataFrame
Columns: []
Index: []

     name  grade
0    John     90
1    Paul     80
2  George     70
3   Ringo     60

In [21]:
df_animal = pd.DataFrame()

df_animal ['name'] = ['cat', 'Dog', 'fish']
df_animal['wight'] = [30, 40, 10]

df_animal

   name  wight
0   cat     30
1   Dog     40
2  fish     10

In [20]:
dictionary = {
    'name': ['John', 'Paul', 'George', 'Ringo'],
    'grade': [90, 80, 70, 60]
}

df2 = pd.DataFrame(dictionary)
df2

     name  grade
0    John     90
1    Paul     80
2  George     70
3   Ringo     60

In [25]:
a = [10, 20, 30]
b = [10, 20, 30]
c = [10, 20, 30]

df3 = pd.DataFrame((a,b,c), columns=list('abc'))
df3

    a   b   c
0  10  20  30
1  10  20  30
2  10  20  30

mean, min std

In [26]:
df3.describe()

          a     b     c
count   3.0   3.0   3.0
mean   10.0  20.0  30.0
std     0.0   0.0   0.0
min    10.0  20.0  30.0
25%    10.0  20.0  30.0
50%    10.0  20.0  30.0
75%    10.0  20.0  30.0
max    10.0  20.0  30.0

In [27]:
# DataFrame.info() is a function of DataFrame that gives metadata of DataFrame
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [39]:
# Working with Rows and Columns
# We will create a dummy dataset from a random integer number using the NumPy package.
import numpy as np

np.random.seed(0)
data = np.random.randint(0, 100, size=(5, 5)) # 5 rows and 5 columns

# Create a DataFrame from the data
df = pd.DataFrame(data, columns=list('abcde'))
df

    a   b   c   d   e
0  44  47  64  67  67
1   9  83  21  36  87
2  70  88  88  12  58
3  65  39  87  46  88
4  81  37  25  77  72

In [40]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=5, step=1)
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

Drop data

In [41]:
print('Original DataFrame')
df

Original DataFrame

    a   b   c   d   e
0  44  47  64  67  67
1   9  83  21  36  87
2  70  88  88  12  58
3  65  39  87  46  88
4  81  37  25  77  72

In [42]:
df.drop(index=[4], columns=['c', 'd'], inplace=True)
print('DataFrame after dropping rows and columns')
df

DataFrame after dropping rows and columns

    a   b   e
0  44  47  67
1   9  83  87
2  70  88  58
3  65  39  88

In [43]:
np.random.seed(0)
data = np.random.randint(0, 100, size=(10, 4)) # 10 rows and 4 columns
df = pd.DataFrame(data, columns=list('abcd'))
df

    a   b   c   d
0  44  47  64  67
1  67   9  83  21
2  36  87  70  88
3  88  12  58  65
4  39  87  46  88
5  81  37  25  77
6  72   9  20  80
7  69  79  47  64
8  82  99  88  49
9  29  19  19  14

In [44]:
df['a']

0    44
1    67
2    36
3    88
4    39
5    81
6    72
7    69
8    82
9    29
Name: a, dtype: int32

In [45]:
df[['a', 'c']] # selecting multiple columns df[['column_name1', 'column_name2']]

    a   c
0  44  64
1  67  83
2  36  70
3  88  58
4  39  46
5  81  25
6  72  20
7  69  47
8  82  88
9  29  19

In [46]:
df.iloc[1]

a    67
b     9
c    83
d    21
Name: 1, dtype: int32

In [47]:
df.iloc[1:8] # selecting slice of rows

    a   b   c   d
1  67   9  83  21
2  36  87  70  88
3  88  12  58  65
4  39  87  46  88
5  81  37  25  77
6  72   9  20  80
7  69  79  47  64

In [48]:
# Select rows where column 'a' is greater than 50
df[df['a'] > 50] # selecting rows by boolean vector

    a   b   c   d
1  67   9  83  21
3  88  12  58  65
5  81  37  25  77
6  72   9  20  80
7  69  79  47  64
8  82  99  88  49

In [49]:
# Select rows where column 'a' is greater than 50 and column 'b' is greater than 50
df[(df['a'] > 50) & (df['b'] > 50)]

    a   b   c   d
7  69  79  47  64
8  82  99  88  49